<!DOCTYPE html>
<html>
<head>
    <title>Booking Form</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h2>Booking Form</h2>
    <form method="POST" action="/submit_booking">
        Name:<br>
        <input type="text" name="name" required><br><br>
        
        Email:<br>
        <input type="email" name="email" required><br><br>
        
        Message / Details:<br>
        <textarea name="message" required></textarea><br><br>
        
        <button type="submit">Submit Booking</button>
    </form>
</body>
</html>
